<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dllo.mirror">

    <!-- 公用权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 银联支付 额外权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <!-- baidu 额外权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--Mob-->


    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".model.base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".controller.activity.SignUpActivity" />

        <activity android:name=".controller.activity.DetailsActivity" />
        <activity android:name=".controller.activity.DressResultActivity"
            android:configChanges="orientation|screenSize|screenLayout"/>

        <activity android:name=".controller.activity.RegisterActivity" />
        <activity android:name=".controller.activity.TopicDetailsActivity" />


        <!--zhifu-->
        <activity
            android:name=".controller.activity.NormalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.activity.CustomPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.activity.CustomPayDialogActivity"
            android:screenOrientation="portrait" />

        <!-- 付钱拉 sdk -->
        <activity
            android:name="com.ease.paysdk.app.EasePayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="ONEPAY_APPKEY"
            android:value="app9e5e3dc6e5784a31b58e44fdf3b445de" />

        <!-- 支付宝 sdk -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 微信支付 -->
        <activity
            android:name="com.ease.paysdk.wxapi.PaymentActivity"
            android:launchMode="singleTop" />

        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.ease.paysdk.wxapi.PaymentActivity" />

        <!-- 银联支付 -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- 百度钱包 -->
        <activity
            android:name="com.baidu.wallet.passport.PassLoginActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:hardwareAccelerated="false"
            android:theme="@style/EbpayThemeActivitTranslucent"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.LightappBrowseActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.WelcomeActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivityWelcome"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PayResultActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdCheckActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdSetAndConfirmActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdPayActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivitTranslucent"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.paysdk.ui.WebViewActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.SelectBindCardActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.SecurityCenterActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PrivacyProtectionActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PassWordFreeActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.baidu.wallet.core.plugins.pluginproxy.WalletProxyActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.baidu.wallet.core.plugins.pluginproxy.WalletProxyActivity2"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivitTranslucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.baidu.wallet.core.plugins.pluginmanager.WalletPluginActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivityWelcome"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PassNormalizeActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:hardwareAccelerated="false"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.ConfirmPayOrderActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.DiscountListActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.SelectPayWayActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivitTranslucent"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.H5PayWebViewActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardImplActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.SignChannelListActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.WalletSmsActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdManagerActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.baidu.home.HomeWebViewActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.scancode.ui.ScanCodePwdPayActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivitTranslucent"
            android:windowSoftInputMode="stateVisible|adjustResize" />


        <!--Mob-->

        <activity android:name=".controller.activity.BuyDetailsActivity" />
        <activity android:name=".controller.activity.MyAddressActivity" />
        <activity android:name=".controller.activity.AddAddressActivity" />


        <activity android:name=".controller.activity.EditAddressActivity" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data android:name="design_width" android:value="768"/>
        <meta-data android:name="design_height" android:value="1280"/>


    </application>
</manifest>